<%- include('includes/head.ejs') %>

  <body>
    <%- include('includes/navigation.ejs') %>
      <h1> Gestion des produits</h1>
      <% if(products.length> 0) { %>
        <div class="grid-container">
          <% for(let product of products) { %>
            <div class="product">
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
              <h3>
                <%=product.title %>
              </h3>
              <p>$<%= product.price %>
              </p>
              <a class="btn" href="/addproduct/<%= product.id %>?edit=true">Modifier</a>
              <form action="/deleteproduct" method="POST">
                <button class="btn" type="submit">Supprimer</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
              </form>
            </div>
            <% } %>
        </div>
        <% } else { %>
          <h1>Aucun produit renseigné</h1>
          <% } %>
  </body>

  </html>